{% extends 'base.html.twig' %}

{% block title %}Hello RacesListController!{% endblock %}

{% block body %}
    <div class="container races-categories">
        <div class="races-categories-btn">
            {% for category in categories %}
                <button type="button" class="btn-categories">{{ category }}</button>
            {% endfor %}
        </div>
        <div id="races-list" class="races-list"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ baseUri }}/assets/js/races.js"></script>
{% endblock %}
