// Homepage

#body {
    margin-top: 7em;

    .carousel {
        height: 300px;
        border: solid;

    }

    .twoCol {

        display: flex;
    
        .leftCol {
            
            // border: 1;
            border: solid;
            width: 50%;
        
            .new { 
                overflow-wrap: break-word;
                border: solid;
                border-radius: 10px;
                margin: 25px;
                padding-left: 10px;
                h1 {
                    margin: 0;
                }
            
                p {
                    margin-bottom: 0;
                    display: flex;
                }
            }

            // Button

            .button {
                display: flex;
                margin-bottom: 15px;
            }

            .styled {
                margin: 0 auto;
                border: 0;
                line-height: 2.5;
                padding: 0 20px;
                font-size: 1rem;
                text-align: center;
                // color: #fff;
                text-shadow: 1px 1px 1px #000;
                border-radius: 10px;
                background-color: rgba(220, 0, 0, 1);
                background-image: linear-gradient(to top left,
                                                  rgba(0, 0, 0, .2),
                                                  rgba(0, 0, 0, .2) 30%,
                                                  rgba(0, 0, 0, 0));
                box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                            inset -2px -2px 3px rgba(0, 0, 0, .6);

                a {
                    color: #fff;
                }
            }
            
            .styled:hover {
                background-color: rgba(255, 0, 0, 1);
            }
            
            .styled:active {
                box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                            inset 2px 2px 3px rgba(0, 0, 0, .6);
            }
            
        }
        .rightCol {
    
            // border: 1;
            border: solid;
           
            width: 50%;
        
            .podiomMan {
                height: 1/3;
                border: solid;
                text-align: center;
                vertical-align: text-bottom;

            }

            .podiomWoman {
                height: 1/3;
                border: solid;
                text-align: center;
                vertical-align: text-bottom;
            
            }

            .podiomJunior {
                height: 1/3;
                border: solid;
                text-align: center;
                vertical-align: text-bottom;

            }

            .topThree {
                    
                // display: flex;
                display: inline-flex;
                align-content: center;
                // margin: 0 auto;
                vertical-align: text-bottom;
                vertical-align: bottom;
                margin-bottom: 10px;
                
                .podiumSecond {
                    margin: 0 auto;
                    border: solid;
                    height: 150px;
                    width: 100px;
                }
                .podiumFirst {
                    margin: 0 auto;
                    border: solid;
                    height: 200px;
                    width: 100px;
                }
                .podiumThird {
                    margin: 0 auto;
                    border: solid;
                    height: 100px;
                    width: 100px;
                }
            }

        }
        
    }
}

footer {
    margin-top: 20px;
    height: 300px;
    border: solid;

}



