// Responsive navigation bar

//Header tag
.navbar {
    height: 6em;
    width: 100%;

    border-bottom: {
     style: solid;
        width: 1px;
        color: $border-color;
    }
    background: $background-cultured;

    .container {
        display: flex;

        height: 100%;
        & > * {
            margin: auto;
        }

        .navbar-logo {
            flex-grow: (1/3);

            .navbar-img {
                height: 4em;
                margin: 0 2em;
            }
        }

        .navbar-nav {
            flex-grow: 4;

            .navbar-navigation {
                list-style: none;

                display: flex;
                justify-content: center;

                .navbar-item {

                    text-align: center;
                    padding: 1.25em 0.25em;
                    width: 8em;

                    background: $background-light-cyan;

                    border: {
                        color: $border-color;
                        width: 1px;
                        style: solid;
                        right-style: none; //no border on right for prevent overlapping last border defined after
                    }

                    // correct right border for last li element
                    &:last-child {
                        border-right: {
                            color: $border-color;
                            width: 1px;
                            style: solid;
                        }
                    }

                    .navbar-link {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}
