// Variables for SKI-PM

// colors
$background-midnight-blue: #03045E;
$background-french-blue: #0077B6;
$background-pacific-blue: #00B4D8;
$background-middle-blue: #90E0EF;
$background-light-cyan: #CAF0F8;
$background-cultured: #F0F0F0;

$body-text: #131313;
$link-color: $background-midnight-blue;

// Breakpoints for media queries
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$container-width-sm: 540px;
$container-width-md: 720px;
$container-width-lg: 960px;
$container-width-xl: 1140px;

// Used in .container width media queries
$list-container-width: (
        $breakpoint-sm: $container-width-sm,
        $breakpoint-md: $container-width-md,
        $breakpoint-lg: $container-width-lg,
        $breakpoint-xl: $container-width-xl,
);
