// Variables for SKI-PM

// colors
$background-midnight-blue: #03045E;
$background-french-blue: #0077B6;
$background-pacific-blue: #00B4D8;
$background-middle-blue: #90E0EF;
$background-light-cyan: #CAF0F8;
$background-cultured: #F0F0F0;

$body-text: #131313;
$link-color: $background-midnight-blue;
